---
layout: single
permalink: /research/
author_profile: false
---

{% include base_path %}

<style>
  .page__title {
    display: none;
  }

  .page__meta {
    display: none;
  }

  .page__content > hr:first-of-type {
    display: none;
  }

  .page__inner-wrap {
    padding-top: 0 !important;
  }

  .page__content {
    margin-top: 0 !important;
  }

  .page {
  padding-top: 0 !important;
}

.page__content h2:first-of-type {
  margin-top: 0 !important;
}
</style>

{% if site.publication_category %}

  {% for category in site.publication_category %}
    {% assign first_category = forloop.first %}
    {% assign title_shown = false %}

    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}

      {% unless title_shown %}
        {% unless first_category %}
          <div style="height: 70px;"></div>
        {% endunless %}

      <h2 style="border-bottom: none; padding-bottom: 0; margin-bottom: 20px;">
       {{ category[1].title }}
      </h2>
        {% assign title_shown = true %}
      {% endunless %}

      {% include archive-single.html %}
    {% endfor %}

    {% unless forloop.last %}
      <hr />
    {% endunless %}

  {% endfor %}

{% else %}

  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}

{% endif %}
